
  table, th, td {
    border: 2px solid white;
    align-items: center;
    border-collapse: collapse;
    font-family: 'Orbitron', sans-serif;   
  }
  table {
    width:95%;
    margin-bottom:180px;
    margin-left:30px;
    margin-top:-90px
  }
  th{
     background-color:#1F303E;
     color: white;
     font-size:18px;
     font-weight: 900;
  }
  tr{
font-weight: 700;
    font-size:20px
  }
   
    .burgerr{
        opacity: 0;
        width:1px;
        height:1px   
     }
     .burgerrr{
       visibility: hidden;
     }
       body{
           background-color:#C8C8C8; 
       }
        .container-fluid{
           background-color:#404040;
           height: 140px;
            background-color:linear-gradient(135deg,blue ,#484848);
           border-radius: 5px; 
             
    }
    .fluids{
       background-color:#404040;
       height: 140px;
        background-color:linear-gradient(135deg,blue ,#484848);
       border-radius: 5px; 
       position:fixed; 
       width: 100%; 
        margin-top:-30px 
    }
    .container-fluids{
       background-color:#404040;
       height: 140px;
        background-color:linear-gradient(135deg,blue ,#484848);
       border-radius: 5px; 
       margin-top:10px  
    }
    
    ul{
       list-style: none;
       z-index: 3;
       position: absolute;
    
      }
        ul{
       display: flex;
       justify-content: center;
       padding-right:40px;
      }
       ul li a{
       display: block;
       font-family: 'Orbitron', sans-serif; 
       padding: 15px 30px 25px 20px;
       font-size: 20px;
        border-radius:10px;
       margin:1px;
       color:white;
       text-decoration: none;
       text-transform:uppercase;
       transition: all 0.3s ease;
      }
      li a:hover{
       color:wheat;
       font-size:15px;
       transition: all 0.3s ease; 
      }
      li ul{
       position: absolute;
       min-width: 100px;
       display: none;
      }
       li:hover > ul{
       display: block;
       float:left;
       width: 70px;
      }
      .list-unstyled {
          margin-left:450px;
         margin-top:40px 
      }
    
      .head{
    font-family: 'Orbitron', sans-serif;   
    font-size: 38px;
    margin-left:630px;
    margin-top:70px;
    color:#DDD6DD;
    }
    .head:hover{
       color:#00FF00;
       transition: 0.5s;
       transform: rotate(360deg);   
    }
    
    .burger{
       opacity: 0;
        width: 60px;
       position: absolute;
       top:55px;
       border-radius: 15px;
    }
    .header{
        visibility: hidden;
    }
          .header-menu > ul{
           display:inline-block;
           justify-content: center;
           margin-top:135px;
           left:-30px;
           width: 150px;
          }
          .header-menu > ul li a{
           background:#C9C9C9;
           background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
           padding: 15px 30px 15px 50px;
           font-size: 14px;
           color: #454547;
           text-decoration: none;
           text-transform:uppercase;
           transition: all 0.3s ease;
          }
          .header-menu li a:hover{
           background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
           color: #ffffff;
           box-shadow: 1px 5px 10px -5px black;
           transition: all 0.3s ease; 
          }
          .header-menu li ul{
           position: absolute;
           min-width: 150px; 
            display: none;
            margin-left:110px;
            top:49px;
          }
          .header-menu li:hover > ul{
           display: block;
          }
          
          .inn{
             border-radius: 50%;
             width: 45px;
             height:45px;
             display:block;
              margin-left:90%;
             margin-top:-65px;
                -webkit-animation-name: spin;
                 -webkit-animation-duration: 3000ms;
                 -webkit-animation-iteration-count: infinite;
                 -webkit-animation-timing-function: linear;
             
            }
            @-webkit-keyframes spin { 
                from { 
                    -webkit-transform: rotate(0deg); 
                } to { 
                    -webkit-transform: rotate(360deg); 
                }
            }
            
    @media (min-width: 720px) and (max-width: 1140px) {
       ul li a{
          margin-top:10px;
           padding: 15px 30px 25px 20px;
           font-size: 15px;
       }
       body{
           overflow-x: hidden;
       }
    
       .head{
       margin-left:250px;
       margin-top:70px;
       color:#DDD6DD;
       }
       .inn{
         margin-top:-65px;
    }
       
           .list-unstyled {
               margin-left:250px;
              margin-top:40px 
           } 
    }
    
    @media (min-width: 320px) and (max-width: 735px) {
    
       .list-unstyled {
           margin-left:-45px;
         font-size:40px ;
    }
    

    .container-fluid ul li a{
       margin-top:-1110px;
       padding: 1px 3px 2px 0px;
       font-size: 15px;
        visibility: hidden;
    }
    
    .head{
        
    font-size: 30px;
    margin-left:160px;
    margin-top:30px;
    
    }
    body{
       overflow-x: hidden;
    }
    .burgerr{
       opacity: 1;
       width: 50px;
       height: 50px;
       position: fixed;;
       top:60px;
       left:30px;
       border-radius: 10px;
    }   
    }
 