

body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "article article article"
      "footer footer footer";
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 5px;
    height: 100vh;
    background-color:#37373D;
    width: 100%;
    font-family: 'Orbitron', sans-serif; 
  }
  #pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainArticle { 
    grid-area: article;      
    }
  
.wrapper{
    width:1485px;
    height: 600px;

    background: linear-gradient(135deg,blue ,#484848);
    border-radius: 15px;
    margin:20px;
}
    header{
        margin-top: 50px;
        padding-left:22px;
        font-family: 'Orbitron', sans-serif; 
       
       }
header img{
    height: 150px;
    width: 285px;
}
       .header-menu ul,
       .header-menu ol{
        list-style: none;
        z-index: 3;
       }
       .header-menu > ul{
        display: flex;
        justify-content: center;
       }
       .header-menu > ul li a{
        display: block;
        background:#C9C9C9;
        background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
        padding: 15px 30px 15px 40px;
        font-size: 14px;
        color: #454547;
        text-decoration: none;
        text-transform:uppercase;
        transition: all 0.3s ease;
        font-family: 'Orbitron', sans-serif; 
       }
       .header-menu li a:hover{
        background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
        color: #ffffff;
        box-shadow: 1px 5px 10px -5px black;
        transition: all 0.3s ease; 
       }
       .header-menu li ul{
        position: absolute;
        min-width: 150px;
        display: none;
       }
       .header-menu li:hover > ul{
        display: block;
       }
    
    .header{
    width: 100%;
    height: 80px;
    border-radius:10px;
    align-items: stretch;
    background: linear-gradient(135deg,#484848 ,blue);
    box-shadow:
            0 10px 3px rgba(0,0,0,0.15),  
            0 15px 0 -5px #eee,
            0 25px 1px -6px rgba(0,0,0,0.15),   
            0 35px 0 -15px #eee,  
            0 40px 1px -9px rgba(0,0,0,0.15);
    }

    .logo{
    width: 180px;
    border-radius: 40px;
    bottom:-30px;
    left: 140px;
    }
    .lopes{
        width: 400px;
        height: 270px;
        border-radius: 10px;
        margin: 30px;
    }
    .box{
        margin: 30px;
        border-radius: 10px;
        width: 400px;
        height: 270px;
    }
    .main{
     
        align-items:center;
        background: linear-gradient(135deg,#DEDEDF,thistle ,blue);
        height:810px;
    }
    .title{
        width: 400px;
        height: 270px;
        border-radius: 10px;
          margin: 30px; 
    }
    article{
    font-size: 27px;
    width: 685px;
    height: 220px;
    border:4px solid white;
    border-radius: 10px;
    float: left;
    padding: 20px;
    font-family: 'Orbitron', sans-serif; 
    
    }
    .imglogo{
        border-radius: 50%;
        width: 50px;
        position: absolute;
        top:25px;
    }

    span{
    font-size: 30px;
    color:black;
    font-weight: bold;
    
    }
    h1{
    font-size: 40px;
    color:#484949;
    font-family: 'Orbitron', sans-serif; 
    }
    .story{
    align-content: center;
    width: 400px;
    height: 800px;
    border-color: blueviolet;
    }
    h3{
    text-align: center;
    font-size: 25px;
    color:whitesmoke;
    font-family: 'Orbitron', sans-serif; 
    }
    
    .backImage{
    border-radius: 20px;
    width: 160px;
    padding: 25px;
    float: left;
    }
    footer{
    
        width: 100%;
        height: 150px;
        border-radius:10px;
        background-color: #1D2E3F;
        position: relative;
    }
     a{
          font-size: 20px;
          color: whitesmoke;
    }
    
    li{
       color:white; 
       
    }
    .pari{
        position: absolute;
       right: 40px;
       border-radius:15px ;
       bottom: 25px;
    }
    .coca{
    width: 160px;
    border-radius: 20px;
    position: relative;
    right:630px;
    bottom: 50px; 
    float:right;
    }
    .foot{
        position: absolute;
        left:400px;
        bottom:30px ;
    }
    .city{
        position: absolute;
        width: 900px;
        height: 90px;
        z-index: 1;
    }
    
    p{
        font-family: 'Orbitron', sans-serif;   
        font-size: 50px;
        position:absolute;
        top: -35px;
        left: 560px;
        color:#1F2F3F;
        display:block
    }
    p:hover{
        color:#00FF00;
        transition: 0.5s;
        transform: rotate(360deg);
    
    }
    a:hover{
        font-size: 35px;
     }
   
     img{
        padding: 0px;
    }
    .burger{
       opacity: 0;
        width: 80px;
        position: absolute;
    }
   